<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>16/11/16 16:35:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="changePasswordTest.changePasswordTest(java.util.Hashtable)[pri:0, instance:POM_factory.com.factory.changePasswordTest@5403f35f]">changePasswordTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>16/11/16 16:36:01</td>   <td>53864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="changePasswordTest.changePasswordTest(java.util.Hashtable)[pri:0, instance:POM_factory.com.factory.changePasswordTest@5403f35f]">changePasswordTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>16/11/16 16:36:11</td>   <td>63910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="changePasswordTest.changePasswordTest(java.util.Hashtable)[pri:0, instance:POM_factory.com.factory.changePasswordTest@5403f35f]">changePasswordTest</td> 
  <td>main@1426963578</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>16/11/16 16:36:11</td>   <td>63989</td> <td>&nbsp;</td><td title="&lt;&lt;changePasswordTest.quit()[pri:0, instance:POM_factory.com.factory.changePasswordTest@5403f35f]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1426963578</td>   <td></td> </tr>
</table>
